.roundedDiv {
  padding: 4rem;
  border-radius: 50%;
  background-color: rgb(179, 210, 255);
  color: rgb(26, 104, 220);
}
.mic {
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
}
.animatedMic {
  /* padding: 4rem; */
  /* border-radius: 50%; */
  animation: colorAnimate 2s infinite;
  cursor: pointer;
  font-size: 1.5rem;
}
@keyframes colorAnimate {
  0% {
    /* background-color: rgb(26, 110, 237); */
    color: rgb(160, 197, 253);
  }

  50% {
    /* background-color: rgb(179, 210, 255); */
    color: rgb(26, 104, 220);
  }

  100% {
    /* background-color: rgb(26, 110, 237); */
    color: rgb(160, 197, 253);
  }
}
@keyframes colorChange {
  0% {
    background-color: rgb(26, 110, 237);
    color: rgb(165, 200, 252);
  }

  50% {
    background-color: rgb(179, 210, 255);
    color: rgb(26, 104, 220);
  }

  100% {
    background-color: rgb(26, 110, 237);
    color: rgb(165, 200, 252);
  }
}
